.someTasks {

}

button {
    padding: 0.5rem;
    border: 1px solid var(--color-primary);
    cursor: pointer;
    color: var(--color-bg);
    transition: var(--transition);
  }
  
  .button:hover {
      background: var(--color-white);
      color: var(--color-bg);
      border-color: transparent;
  }